*{
	padding:0; margin:0;
}

h2{
	font-family: 'Righteous', cursive;
}
p{
	font-family: 'Voltaire', sans-serif;
	color: #000000;
	margin-right: 200px;
}
small{
	color: #b69877;
}
small a,
p a{
	color: #ddd;
	text-decoration: none;
}

/* Header */
header{
	background: #1e90ff;
	padding: 10px 20px;
	margin-bottom: 0;
	position: relative;
	z-index: 10;
	overflow: hidden;
}
header a{
	color: #dddddd;
	text-decoration: none;
}
header img{
	float: left;
}
header h1{
	margin-top:20px;
	margin-left:80px;
	font-family: 'Righteous', cursive;
}

/* Content */
.one{
	background-color: #87CEFA ;

}
.one .page-container{
   position: absolute;
		bottom: 100px;
		margin-left: -400px;
		left: 50%;
		margin-bottom: 100px;
		max-width: 650px;
	}
.one .page-container h2{
			font-size: 4em;
		}
.one .page-container p{
			padding: 20px 0;
			line-height: 1.5em;
			font-size: 1.5em;
		}
.one .page-container img{
padding: 0;
margin-bottom: -300px;
padding-left: 500px;
width: 400px;
height: 200px;
	}

.tow{
	background-color: #dc143c;

}
	.tow .page-container{
		position: absolute;
		bottom: 0px;
		margin-left: -400px;
		left: 50%;
		margin-bottom: 200px;
		max-width: 650px;
	}
		.tow .page-container h2{
			font-size: 4em;
		}
		.tow .page-container p{
			padding: 20px 0;
			line-height: 1.5em;
			font-size: 1.5em;
		}
		.tow img{
			padding: 0;
	height: 200px;
	width: 400px;
	margin-bottom: -300px;
	padding-left: 500px;
		}
.three{
	background-color: #00fa9a;
		}
.three .page-container{
	position: absolute;
	 bottom: 0px;
	 margin-left: -400px;
	left: 50%;
	margin-bottom: 200px;
	max-width: 650px;
}
.three .page-container h2{
	font-size: 4em;
}
.three .page-container p{
padding: 20px 0;
line-height: 1.5em;
font-size: 1.5em;
}
.three img{
padding: 0;
height: 200px;
width: 400px;
margin-bottom: -300px;
padding-left: 500px;
				}
.four{
	background-color: #09154F;
}
	.four .page-container{
		position: absolute;
		bottom: 0px;
		margin-left: -400px;
		left: 50%;
		margin-bottom: 70px;
		max-width: 650px;
	}
		.four.page-container h2{
			font-size: 4em;
		}
		.four .page-container p{
			padding: 20px 0;
			line-height: 1.5em;
		}

		#slider {
		  margin: 0 auto;
		}

		.slide:nth-child(1) {
		  background: #c69;
		}

		#content div{
			width: 960px;
			margin: 0 auto;
			overflow: hidden;
		  margin-bottom: 40px;
		}
		#content div div.first{
		  margin: 0;
			margin-bottom: 20px;

		}
		#content div div{
			float: left;
			width: 344px;
			margin: 0 0 0 30px;
			position: relative;
		}
		#content div h2{
			color: #93CDF5;
			font-size: 22px;
			text-transform: uppercase;
			margin: 0 0 15px 20px;
		}
		#content div ul{
			list-style: none;
			background-color: #FFFFFF;
			padding: 15px;
			margin: 0;
		    overflow: hidden;
			border-radius: 5px;
		}
		#content div ul li{
			height: 1%;
			overflow: hidden;
			margin: 0 0 20px 0;
			_margin: 0 0 10px 0;
		}
		#content div ul li a{
			float: left;
			display: block;
			position: static;
			background: none;
			padding: 0;
		}
		#content div ul li a img{
			border: 0;
			margin: 0 15px 0 0;
		}
		#content div ul li span{
			display: block;
			clear: none;
		    float: left;
		    text-align: justify;
		}
		#content div ul li span a{
			text-decoration: none;
			font-size: 14px;
			font-family: arial;
			color: #105272;
			font-weight: bold;
			background: none;
			position: static;
			padding: 0;
		}
		#content div ul li p{
			clear: none;
		    float: right;
		    text-align: justify;
		    width: 158px;
			color: #393D42;
			font-family: arial;
			font-size: 14px;
			margin: 0 0 15px;
		}
		#content div ul li a.details{
			font-size: 12px;
			color: #000000;
			text-decoration: none;
			font-family: arial;

			width: 74px;
			height: 18px;
			text-align: center;
			line-height: 18px;
			margin: 0 5px 0 0;
			position: static;
			padding: 0;
		}
		#content div ul li a.book{
			color: #000000;
			text-decoration: none;
			font-family: arial;
			width: 70px;
			height: 18px;
			text-align: center;
			line-height: 18px;
			font-size: 12px;
			position: static;
			padding: 0;
		}
		#content div a{
			font-family:arial;
			font-size: 14px;
			color: #4d4d4d;
			text-decoration: none;
			position: absolute;
			top: 480px;
			right: 15px;
			padding: 0 10px 0 0;
		}
		#content div a:hover{
			color: #105272;
		}
		#content div div#news{
			width: auto;
			margin: 0 0 0 20px;
		}
		#content div div#news a{
			background: none;
			color: #40568F;
		    display: block;
		    line-height: 34px;
		    margin: 0 0 0 20px;
		    position: static;
		}
		#content div div#news div a{
			width: 145px;
		}
		#content div div#news a font{
			color: #84c4ea;
			font-weight: bold;
		}
		#content div div div{
			float: none;
		    margin: 0;
		    position: static;
		    width: auto;
		}
		#content div div div a#download{
			margin: 0;
			background: none;
			_margin-left: -10px;
		}
		#content div div div a#download img{
			border: 0;
		}
		#content div div div p{
			color: #40568F;
		    font-family: arial;
		    font-size: 14px;
		    text-align: justify;
		    width: 210px;
			line-height: 20px;
			margin: 6px 0 14px;
		}
		#content div div div a{
			color: #2B668E !important;
		    font-weight: bold;
		}
		#content div div div p a{
			display: inline !important;
		    line-height: 0 !important;
		    margin: 0 !important;
			color: #84C4EA !important;
			font-weight: normal;
			text-decoration: underline;
			background: none !important;
			width: auto;
		}
		#content div div div h3{
			color: #93CDF5;
		    font-size: 22px;
		    margin: 10px 0 15px 20px;
		    text-transform: uppercase;
		}


@media screen and (max-width: 460px){
    nav.menu ul a{
        padding: 15px;
        font-size: 14px;
    }
    .sidebar{
        display: none;
    }
    .post-info{
        display: none;
    }
    .conteudo{
        margin: 25px auto;
    }
    .conteudo img{
        margin: -5% 0 25px -5%;
    }
}
